.status {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-align: center;
}
.verification {
  color: $accent;
  font-style: italic;
  padding-top: 8px;
  text-align: center;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0;
  padding: 32px;
  box-shadow: 2px 2px 7px $primary-dark;
}
.far,
.fas {
  margin-top: 8px;
  margin-bottom: 8px;
}
.padding-b {
  padding-bottom: 8px;
}
.margin-l {
  margin-left: 6px;
}
.margin {
  margin: 0 8px;
}
.margin-b {
  margin-bottom: 16px;
}

.container {
  color: $primary;
  min-height: 80vh;
  max-width: 1000px;
  margin: 24px auto;
  padding: 16px;
}
.grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.notes:hover {
  cursor: pointer;
}
.notes {
  text-decoration: underline;
}
.note {
  font-size: 24px;
  text-align: center;
}
