@media only screen and (min-width: $mobile) {
  .grid {
    grid-template-columns: repeat((1, 1fr));
  }
}
@media only screen and (min-width: $tablet) {
  .grid {
    grid-template-columns: repeat((2, 1fr));
  }
}
@media only screen and (min-width: $desktop) {
  .grid {
    grid-template-columns: repeat((3, 1fr));
  }
}
