body {
  background-color: $primary;
}
.loading,
.home {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.home {
  h1,
  h2 {
    margin-bottom: 24px;
    text-shadow: 2px 2px 5px $primary-dark;
  }
}
.h-100 {
  min-height: 100vh;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 144px;
  background-color: $accent;
  color: white;
  font-size: 16px;
  padding: 16px;
  border-radius: 50px;
}
.btn-details {
  margin: 0 auto;
}
.map {
  width: 100%;
  height: 50vh;
  margin-top: 24px;
  box-shadow: 2px 2px 7px $primary-dark;
}
.marker {
  color: $accent;
  display: flex;
}
.heading {
  color: whitesmoke;
  margin: 16px 0;
}

.slogan {
  display: flex;
  h2 {
    margin: 0 2px;
  }
}
