.spinner {
  border: 5px solid $primary-dark;
  height: 100px;
  width: 100px;
  position: relative;
  border-radius: 100%;
}
.c-1 {
  position: absolute;
  right: 0;
  background-color: $primary-dark !important;
}
.c-2 {
  position: absolute;
  left: 0;
}
.c-3 {
  position: absolute;
  bottom: 0;
}
.c-4 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: $accent;
}
